/* style.css */

body {
    background-color: #353434;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(216, 121, 121);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #000000;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    background-color: #e8a1a1;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    border: 1px solid red;
    padding: 5px;
    background-color: #f8d7da;
    margin-top: 10px;
}
