
body {
    background-color: rgb(45, 8, 10);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgb(255, 131, 138);
    border-radius: 12px;
}

h1, h2 {
    color: #000000;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

.boton_link, .boton {
    text-decoration: none;  
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.boton_link:hover, .boton:hover {
    color: #000000;
    background-color: #ffffff;
}
.error-message {
    color: red;
    border: 1px solid red;
    padding: 5px;
    background-color: #f8d7da;
    margin-top: 10px;
}


a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white !important;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

