{% extends 'panel_admin/base.html' %}
{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
<div class="container text-center mt-5">
  <h2 class="text-danger">¿Estás seguro que querés eliminar este empleado?</h2>
  <p>Nombre y Apellido: <strong>{{ empleado.usuario.nombre }} {{ empleado.usuario.apellido }}</strong></p>
  

  <form method="POST">
    {% csrf_token %}
    <a href="{% url 'detalle_empleado' empleado.usuario.correo %}" class="btn btn-secondary me-3">Cancelar</a>
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
</div>
{% endblock %}