{% extends 'panel_admin/base.html' %}

{% block title %}Lista de Autos{% endblock %}

{% block content %}
<h2 class="mb-4 text-danger">Vehículos registrados</h2>

<table class="table table-bordered table-hover bg-white">
  <thead class="table-light">
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Patente</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for auto in autos %}
    <tr>
      <td>{{ auto.marca }}</td>
      <td>{{ auto.modelo }}</td>
      <td>{{ auto.patente }}</td>
      <td>
        <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
        <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
          <i class="fas fa-plus"></i> Crear Reserva
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Crear Reserva
  </a>
</td>
{% endfor %}
  </tbody>
</table>


{% endblock %}
<td>
  <a href="{% url 'detalle_auto_admin' auto.patente %}" class="btn btn-info btn-sm">Ver detalles</a>
  <a href="{% url 'reservas:crear_reserva_empleado' auto.id %}" class=
