{% extends 'panel_admin/base.html' %}

{% block title %}Lista de Empleados{% endblock %}

{% block content %}
<h2 class="mb-4 text-danger">Empleados registrados</h2>

{% include 'panel_admin/_filtro_estado.html' with estado_actual=estado_actual estado_nombre=estado_nombre %}
<form method="get" class="mb-3 d-flex" role="search">
  <input type="text" class="form-control me-2" name="busqueda"
         placeholder="Buscar por DNI" value="{{ busqueda }}">
  <input type="hidden" name="estado" value="{{ estado_actual }}">
  <button class="btn btn-danger" type="submit">Buscar</button>

  {% if busqueda %}
    <a href="?estado={{ estado_actual }}" class="btn btn-danger ms-2">Limpiar</a>
  {% endif %}
</form>

<table class="table table-bordered table-hover align-middle text-center"
       style="background: linear-gradient(135deg, var(--primary-black) 0%, var(--secondary-black) 100%); color: white;">
  <thead class="table-dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <tr>
      <th>Estado</th>
      <th>Nombre y Apellido</th>
      <th>Correo</th>
      <th>Sucursal</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    <tr>
      <!-- Estado con ícono -->
      <td>
        {% if empleado.activo %}
          <span class="badge rounded-pill bg-success">
            <i class="bi bi-check-circle-fill"></i> Activo
          </span>
        {% else %}
          <span class="badge rounded-pill bg-danger">
            <i class="bi bi-x-circle-fill"></i> Eliminado
          </span>
        {% endif %}
      </td>
      <td>{{ empleado.usuario.nombre }} {{ empleado.usuario.apellido }}</td>
      <td>{{ empleado.correo_original|default:empleado.usuario.correo }}</td>
      <td>{{ empleado.sucursal_asignada.nombre }}</td>
      <td>
        <a href="{% url 'detalle_empleado' empleado.usuario.correo %}" class="btn btn-danger btn-sm">👁 Ver Detalle</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}