{% extends 'panel_admin/base.html' %}
{% block title %}Agregar Sucursal{% endblock %}

{% block content %}
  <h2 class="mb-4 text-danger">Registrar nueva sucursal</h2>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-danger">Registrar</button>
  </form>
{% endblock %}
